:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  box-sizing: border-box;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

button {
  cursor: pointer;
}

.gallery {
  display: flex;
  max-width: 1440px;
  padding: 24px 156px;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  list-style: none;
  flex-wrap: wrap;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
}

.gallery-link {
  text-decoration: none;
  color: #333333;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background: #ffffff;
  margin: 0 auto;
}

label {
  display: flex;
  flex-direction: column;
  width: 360px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
}

input:hover {
  border-radius: 4px;
  border: 1px solid #000000;
}

textarea {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
  resize: none;
  margin-bottom: 16px;
}
button {
  border: none;
  border-radius: 8px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #6c8cff;
}
